<!-- Load jQuery -->
<script src="//code.jquery.com/jquery-{{ site.jquery_version }}.min.js"></script>

<!-- Load Common JS -->
<script src="{{ '/assets/js/common.js' | prepend: site.baseurl | prepend: site.url }}"></script>

{% if site.enable_anchorjs %}
<!-- Load Anchor JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/{{ site.anchorjs_version }}/anchor.min.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", function(event) {
    	  anchors.options = {visible: 'hover', placement: 'left'};
    	  anchors.add('h2,h3,article h2:not(.no-anchor), article h3:not(.no-anchor), article h4:not(.no-anchor), article h5:not(.no-anchor), article h6:not(.no-anchor), .anchored');
	});
  </script>
{% endif %}

{% if site.enable_bigfoot %}
<!-- Load Bigfoot -->
<script src="{{ '/assets/js/bigfoot.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script type="text/javascript">
    $.bigfoot({
        activateCallback: function($popover, $button) {
                if (MathJax && !$button.data('mathjax-processed')) {
                        var content_wrapper = $popover.find('.bigfoot-footnote__content')[0];
                        MathJax.Hub.Queue(['Typeset', MathJax.Hub, content_wrapper]);
                        MathJax.Hub.Queue(function () {
                                $button.attr('data-bigfoot-footnote', content_wrapper.innerHTML);
                                $button.data('mathjax-processed', true);
                        });
                }
        },
		activateOnHover: true,
		deleteOnUnhover: true
    });
</script>
{% endif %}

{% if site.enable_fancybox %}
<!-- Load fancybox -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
{% endif %}

{% if site.enable_mathjax %}
<!-- mathjax stuff -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      TeX: {
          extensions: ['begingroup.js']
      },
      tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          displayMath: [['\\[','\\]'], ['$$','$$']],
          processEscapes: true
      },
      "HTML-CSS": {
          mtextFontInherit: true,
          preferredFont: 'Latin-Modern',
          webFont: 'Latin-Modern'
      },
	skipStartupTypeset: false,
      displayAlign: "center",
      displayIndent: "0.1em"
  });
  MathJax.Hub.processSectionDelay = 0;
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

{% if site.enable_katex %}
<!-- Load KaTeX -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ site.katex_version }}/katex.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ site.katex_version }}/katex.min.js"></script>
<script src="{{ '/assets/js/katex.js' | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}

{% if page.numbas.enabled %}
<!-- Load the common Numbas script -->
<script charset="UTF-8" src="{{ '/assets/js/numbascommon.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script>
  Numbas.queueScript('go',['start-exam'],function() {
      Numbas.init();
  });
  $(function() {
      Numbas.checkAllScriptsLoaded();
  });
</script>
<!-- Load the page specific Numbas function -->
<script charset="UTF-8" type="text/javascript" src="{{ '/assets/js/customnumbas/' | append: page.numbas.custom_script | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}

<!-- Include custom fonts -->
<link rel="stylesheet" href="{{ '/assets/css/fontawesome-all.min.css' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | prepend: site.baseurl | prepend: site.url }}">
<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview');
</script>
