.project {
    box-sizing: border-box;
    //height: 250px;
    padding: 10px;
    vertical-align: middle;
	text-align: center;
	@extend .clearfix;
	@media (hover: none) {
		background-color: rgba($grey-color-dark,0.1);
	}

    .thumbnail {
        overflow: hidden;
        height: 200px;
        width: 100%;

        img {
            height: auto;
            position: relative;
                left: -25%;
                top: -5%;
            width: 500px;
			object-fit: scale-down;
        }

        a {
            float: left;
            height: 230px;
            position: relative;
            width: 100%;

            span {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba($black,0.4);
                padding: 40px;

                h1 {
					color: $grey-color-light;
                    font-size: 1.5rem;
                    margin: 0;
                }

                p {
                    color: $grey-color-light;
                }
            }
        }
    }
    &:hover {
		background-color: rgba($grey-color-dark,0.1);
    }
}

.projects {
	h2 {
		margin-top: 0;
	}
}
