<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="{{ '/assets/revealjs/dist/reset.css' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="stylesheet" href="{{ '/assets/revealjs/dist/reveal.css' | prepend: site.baseurl | prepend: site.url }}">
		<link rel="stylesheet" href="{{ '/assets/revealjs/dist/theme/solarized.css' | prepend: site.baseurl | prepend: site.url }}" id="theme">

		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="{{ '/assets/revealjs/plugin/highlight/monokai.css' | prepend: site.baseurl | prepend: site.url }}" id="highlight-theme">
		
		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '{{ "/assets/revealjs/css/print/pdf.css" | prepend: site.baseurl | prepend: site.url }}' : '{{ "/assets/revealjs/css/print/paper.css" | prepend: site.baseurl | prepend: site.url }}';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
		
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<!-- Load the actual slide content -->
				{{content}}
			</div>
		</div>

		<script src="{{ '/assets/revealjs/dist/reveal.js' | prepend: site.baseurl | prepend: site.url }}"></script>
		<script src="{{ '/assets/revealjs/plugin/notes/notes.js' | prepend: site.baseurl | prepend: site.url }}"></script>
		<script src="{{ '/assets/revealjs/plugin/markdown/markdown.js' | prepend: site.baseurl | prepend: site.url }}"></script>
		<script src="{{ '/assets/revealjs/plugin/highlight/highlight.js' | prepend: site.baseurl | prepend: site.url }}"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
				centre: true,
				transition: 'slide',
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>